html {
    height:100%;
}
body {
  height: 100%;
}

.editor_frame {
    position: relative;
    height: 100%;

    background: Cornsilk;
}

.editor_textarea {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    left: 22px; /* 行番号の幅にあわせてある*/
    width: calc(100% - 22px);
    height: 100%;
}

.editor_screen {
    padding:0; margin:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.editor_line {
    text-align:right;
    margin: 0; padding: 0;
	display: flex;
	flex-direction: row;
    background: blue;
}

.editor_num_col {
    margin: 0; padding: 0;
    background: gray;

    width: 22px;
    left: 0;
    white-space: nowrap;
}

.editor_num_col pre {
    margin: 0; padding: 0;
}

.editor_src_col {
    margin: 0; padding: 0;
    width:100%;
    overflow:hidden;
    text-align: left;
    background: pink;
}

.editor_src_col pre {
    margin: 0; padding: 0;
    width:100%;
    overflow:hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}
                     


